<form method="post" action="{{ path('app_article_prevu_delete', {'id': info.articleId}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ info.articleId) }}">
    <button class="btn">Delete</button>
</form>
