{% extends 'base.html.twig' %}

{% block title %}Edit ArticlePrevu{% endblock %}

{% block body %}
    <h1>Edit ArticlePrevu</h1>

    {{ include('article_prevu/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_article_prevu_index') }}">back to list</a>

    {{ include('article_prevu/_delete_form.html.twig') }}
{% endblock %}
